@import 'tailwindcss';

@theme {
  /* Backgrounds */
  --color-bg-primary: 248, 250, 252;
  --color-bg-active: 248, 250, 252;
  --color-bg-header: 227, 234, 243;
  --color-bg-sidebar-active: 230, 236, 252;
  --color-bg-button-right: 221, 226, 233;
  --color-bg-input-right: 255, 255, 255;
  --color-bg-card-non-active: 241, 245, 249;

  /* Fonts */
  --color-font-body: 108, 133, 161;
  --color-font-rupees: 103, 113, 126;
  --color-font-rupees-2: 115, 140, 165;
  --color-font-orders: 63, 84, 108;

  /* Status Colors */
  --color-status-green: 0, 138, 69;
  --color-status-red: 217, 45, 33;
}
@layer components {
  .header-style {
    background-color: rgb(var(--color-bg-header));
    /* padding-bottom: 0 px; */
    @apply px-4 lg:pl-6 pb-0 sticky top-0 z-5 min-h-0;
  }
  .nav-active{
    background-color:rgb(var(--color-bg-active));
    @apply bg-gray-50 pb-0 border-t-2 border-gray-700; 
   }
   .dashboard{
    background-color:rgb(var(--color-bg-active));
   }
   .dropdown{
    background-color: rgb(var(--color-bg-header));

   }
   .bg-insight{
    background-color: rgb(var(--color-bg-header));

   }
   
}
